/**
 * All of the CSS for your public-facing ACF Repeater functionality should be
 * included in this file.
 */

.acf-repeater ul {
    list-style: none !important;
    padding: 0;
}
.acf-repeater ul li {
    display: flex;
    margin-bottom: 15px;
    margin-right: 15px;
}
.acf-repeater ul li .image-holder {
    flex: 0 0 30%;
}
.acf-repeater ul li .image-holder img {
    width: 100%;
}

@media (max-width: 980px) {

    .acf-repeater ul li {
        flex-wrap: wrap;
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .acf-repeater ul li .image-holder {
        flex: 0 0 100%;
    }
    

}